<div class="position-relative">
    <div  class="position-absolute top-50 start-50 translate-middle"  style="z-index: 1">
      <div class="input-group mb-3 inputfield">
        <input type="text" class="form-control " placeholder="Search topics or Keywords" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-text btn btn-danger d-flex search-icon" id="basic-addon2"><i class="bi bi-search "></i></div>
      </div>
     
    </div>

 
      
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner w-100">
          <div class="carousel-item active" data-bs-interval="5000">
            <div class="overlay-image" style="background-image: url(./img/1.jpeg);"></div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="overlay-image" style="background-image: url(./img/2.jpeg);"> </div>
            
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>
    
</div>
