
    <div class="box-container">
        <!--slider------------------->
        <ul id="autoWidth" class="cs-hidden">
        <!--1------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box" style="background-image: url(./img/a.jpg);">
                                    <!--details-->
                        <!-- <div class="details">
                            <p class="marvel">Author Name</p>
                     
                    </div> -->
            </div>
            </li>
            <li class="item-a">
                <!--slider-box-->
                <div class="box" style="background-image: url(./img/b.jpg);">
                                    <!--details-->
                        <!-- <div class="details">
                            <p class="marvel">Author Name</p>
                     
                    </div> -->
            </div>
            </li>
        <!--2------------------------------>
        <li class="item-a">
            <!--slider-box-->
            <div class="box" style="background-image: url(./img/c.jpg);">
                                <!--details-->
                    <!-- <div class="details">
                        <p class="marvel">Author Name</p>
                 
                </div> -->
        </div>
        </li>
        <li class="item-a">
            <!--slider-box-->
            <div class="box" style="background-image: url(./img/d.jpg);">
                                <!--details-->
                    <!-- <div class="details">
                        <p class="marvel">Author Name</p>
                 
                </div> -->
        </div>
        </li>
        <li class="item-a">
            <!--slider-box-->
            <div class="box" style="background-image: url(./img/e.jpg);">
                                <!--details-->
                    <!-- <div class="details">
                        <p class="marvel">Author Name</p>
                 
                </div> -->
        </div>
        </li>
        <li class="item-a">
            <!--slider-box-->
            <div class="box" style="background-image: url(./img/f.jpg);">
                                <!--details-->
                    <!-- <div class="details">
                        <p class="marvel">Author Name</p>
                 
                </div> -->
        </div>
        </li>
        </ul>
    </div>
  
