<div class="container-lg">
    <div class="row justify-content-center border border-top-0 p-2">
        <div class="col-auto button m-3">
          <a href="http://192.168.126.11/" target="_blank">Catalogue</a>
        </div>
        <div class="col-auto button m-3">
            <a href="identity.iith.ac.in" target="_blank"> Journals</a>
        
        </div>
        <div class="col-auto button m-3">
            <a href="https://www.proquest.com/" target="_blank">E-Books</a>
         </div>
        <div class="col-auto button m-3">
            <a href="http://raiith.iith.ac.in/" target="_blank">Disssertations & Thesis</a>
        </div>
        <div class="col-auto button m-3">
            <a href="http://raiith.iith.ac.in/" target="_blank">IITH Publications</a>
          
        </div>
    </div>
    
</div>
